body {
  font-family: 'Arial', sans-serif;
  background-color: #222;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
  background: #222;
  padding: 20px;
  border-radius: 60px;
}

.light-mode .container {
  background: #f4f4f4;
}

h2 {
  color: #fffafa;
  text-align: center;
  margin-bottom: 10px;
}

.light-mode h2 {
  color: #000000;
}

.project-box {
  width: 48%;
  margin: 1%;
  padding: 20px;
  box-sizing: border-box;
  background: #333;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  align-self: center;
}

.light-mode .project-box {
  background: #fff;
}

h3 {
  color: #ffffff;
}

.light-mode h3 {
  color: #000;
}

p {
  color: #ffffff;
}

.light-mode p {
  color: #000
}

@media screen and (max-width: 600px) {
  .project-box {
      width: 100%;
      float: none;
      margin: 0 0 20px 0;
  }
}

a {
  color: #7f77fc;
  text-decoration: underline;
}
