body {
  font-family: 'Arial', sans-serif;
  background-color: #222;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body.light-mode {
  background-color: #f4f4f4;
  color: #000000;
}
  
  header { 
    color: #fff;
    padding: 20px;
    text-align: center;
}
.light-mode header {
   color: #333;
}
  
  .container {
    width: 80%; 
    max-width: 1200px;
    padding-top: 50px; 
}
.container h2 {
    text-align: center;
    margin: 0;  
  }
  
  nav {
    background-color: #333;
    padding: 1px;
    color: #fff;
    border-radius: 20px;
    width: 70%;
    margin-top: 20px;
    position: absolute;
    top: 20px;
}

.light-mode nav {
    background-color: #fff;
}

nav ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0; 
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 10px; 
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 8px;
    transition: background-color 0.3s;
}

.light-mode nav a {
    color: #000;
}
  
  nav a:hover {
    background-color: #313030;
}
.light-mode nav a:hover {
    background-color: #c0bfbf;
}
@media screen and (min-width: 768px) {
  nav {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
    nav {
        width: 90%;
        position: static;
        margin-top: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}
  
  .mode-toggle {
    cursor: pointer;
    position: relative;
    top: -5px; 
}
  
  #toggle {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s;
}
  
  #toggle:after {
    content: '🌙'; 
    width: 18px;
    height: 18px;
    color: #d31010;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, color 0.3s;
}
  
  .light-mode #toggle:after {
    transform: translate(-50%, -50%) rotate(180deg);
    content: '☀️'; 
    color: #f8c542; 
}

.light-mode body {
    background-color: #222;
    color: #fff;
}
  
  section {
    padding: 20px;

}
header .header-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  overflow: hidden;
  border-right: solid 2px #000;
  white-space: nowrap;
  animation: write 1.5s linear 0s 1 normal both, blink 1s infinite;
}
  
@keyframes write {
  from {
      width: 0;
  }

  to {
      width: 100%;
  }
}

@keyframes blink {
  0% {
      border-color: #000;
  }

  49% {
      border-color: #000;
  }

  50% {
      border-color: transparent;
  }

  100% {
      border-color: transparent;
  }
}

  .developer-text {
    font-size: 1.4em;
    color: #fff;
    background-color: #333;
    padding: 5px;
    border-radius: 8px;
}

  .light-mode .developer-text {
    color: #000000; 
    background-color: #fff
}

  
  